// I'm mid-redo of my site so it's a wreck right now, plz ignore.

@import "_header.scss";
@import "_footer.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #37393a;
}
$ctr: center;

#slogan {
  color: white;
  font-size: 24px;
  padding-left: 10px;
  text-align: left;
  margin-top: -10px;
}
#sloganAndButtons {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: $ctr;
  justify-items: $ctr;
}
#buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
  .button {
    background: #a62927;
    border-radius: 45px;
    box-shadow: 2px 2px #323536;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-top: 15px;
    padding-top: 15px;
    text-align: $ctr;
    width: 200px;
  }
}

#logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 150px;
  display: block;
  margin: 5px auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
#hours #h2Hours,
#h3Hours,
.pHours {
  font-family: monospace;
  color: white;
  text-align: $ctr;
}
#h2Hours {
  font-weight: bold;
  font-size: 30px;
}
#h3Hours {
  padding-bottom: 10px;
}
#h3Hours ~ p {
  font-size: 15px;
}

#map {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 500px;
  height: 250px;
  object-fit: cover;
}
/* .pictureHeaders {
  font-size: 1.17em;
  font-weight: bold;
  text-align: center;
}
#hoursTitle .hours {
  font-family: monospace;
}
#hoursTitle {
  text-decoration: underline;
  margin-bottom: -2%;
} */


/* @media only screen and (min-width:1000px){
  #rotatingAd:hover {
  animation-name: rotatingAd;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}#headerLinks {
  padding-top: 2%;
  padding-right: 2%;
  justify-self: right;
  text-decoration: none; Can you  remove the underline of links?
}
a:link {
  color: white;
  font-weight: bold;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
a:hover {
  color: #f8b407;
}
a:visited:hover {
  color: #f8b407;
}
a:visited {
  color: #a62927;
  font-weight: bold;
}
#h1AndLinks {
  text-align: center;
  display: grid;
  padding-left: 5px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.button {
  background: #a62927;
  border-radius: 45px;
  box-shadow: 2px 2px #323536;
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  margin-left: 1%;
  padding-top: 20px;
  margin-top: 10px;
  text-align: center;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  width: 300px;
}}
Can you justify text in the center of a button?
@keyframes rotatingAd {
  50% {
    text-align: left;
  }
  100% {
    text-align: right;
  }
}
I hate that this stops in the center of the animation how do I make it stop but still keep my text-align: centred in its natural state? Or can I? I remember this happening in the rainbow example
.button:hover {
  background: #e7bc4e;
  width: 350px;
}
.button:active {
  background: #f8b407;
}
#media {
  text-align: center;
}
#deepPizzaVid {
  width: 300px;
  height: 400px;
  padding-top: 5px;
  object-fit: cover;
  text-align: center;
} 
.hours {
  margin: -1%;
  font-family: monospace;
  font-size: 20px;
}*/
