body {
  background-color: #6c8586;
}
h3 {
  text-align: center;
  color: black;
}
nav {
  display: block;
  text-align: right;
}
h1 {
  color: black;
  font-size: 50px;
}
article {
  font-size: 20px;
}
#media {
  display: block;
  margin: auto;
  text-align: center;
}
h4 {
  text-align: center;
  text-decoration: underline;
}

div {
  text-align: center;
}
#hoursTitle {
  text-decoration: underline;
  font-weight: bolder;
  margin: 0%;
}
#gridContainer {
  display: grid;
  grid-template-columns: 400px 20px 180px 400px 30px;
  grid-template-rows: 20px 100px 100px 20px;
  padding-left: 5%;
}
/* * There's a tiny white line that I can't figure out how to make go away next to dancing pizza dude? Inspector says it's 'hr' inside of my grid container or something?* Also grid is so hard and I just put a bunch of numbers until it looked kinda how I wanted */
#gridItem1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
#gridItem2 {
  grid-column: 3/4;
  grid-row: 2/3;
}
#gridItem3 {
  grid-column: 5/6;
  grid-row: 3;
  align-self: flex-end;
}
.hours {
  margin: 0%;
}
