body {
  background-color: #6c8586;
}
h3 {
  text-align: center;
  color: black;
}
nav {
  display: block;
  text-align: right;
}
h1 {
  color: black;
  font-size: 50px;
}
article {
  font-size: 20px;
}
#media {
  display: block;
  margin: auto;
  text-align: center;
}
h4 {
  text-align: center;
  text-decoration: underline;
}
#pizzadance {
  display: block;
}
#socialMedia {
  display: block;
  margin-left: 80%;
}
div {
  text-align: center;
}
footer {
  text-align: center;
  font-weight: 800;
}
