body {
  background-color: #37393a;
  margin: 0px;
  /* width: 100%; */
}
#rotatingAd {
  background: #a62927;
  color: black;
  font-size: 30px;
  height: 50px;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  width: 100%;
}
#h1AndLinks {
  text-align: center;
  display: grid;
  padding-left: 5px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
h1 {
  color: #e7bc4e;
  font-size: 50px;
  justify-self: start;
}
#headerLinks {
  padding-top: 2%;
  padding-right: 2%;
  justify-self: right;
  /* text-decoration: none; Can you  remove the underline of links? */
}
a:link {
  color: white;
  font-weight: bold;
}
a:visited {
  color: #a62927;
  font-weight: bold;
}
#slogan {
  color: white;
  font-size: 35px;
}
#sloganAndButtons {
  margin-left: 45%;
}
.button {
  background: #a62927;
  border-radius: 45px;
  box-shadow: 2px 2px #323536;
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  margin-left: 1%;
  padding-top: 20px;
  text-align: center;
  width: 300px;
}
/* Can you justify text in the center of a button? */
.button:hover {
  background: #e7bc4e;
}
.button:active {
  background: #f8b407;
}
#media {
  text-align: center;
}
#deepPizzaVid {
  padding: 0px 10px;
}
#location {
  text-align: center;
}
.pictureHeaders {
  font-size: 1.17em;
  font-weight: bold;
  text-align: center;
}
#hoursTitle .hours {
  font-family: monospace;
}
#hoursTitle {
  text-decoration: underline;
  margin-bottom: -2%;
}
.hours {
  margin: -1%;
  font-family: monospace;
  font-size: 20px;
}

#footerGrid {
  background: #a62927;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
#footerGridItem1 {
  justify-self: start;
  align-self: center;
  padding-top: 15%;
}
#h2Footer {
  display: inline;
  align-self: center;
}
#footerGridItem2 {
  justify-self: center;
  align-self: center;
}
#footerGridItem3 {
  justify-self: end;
  align-self: end;
}
